/*==============================system==============================*/
.disabled{display: none}
.hidden{visibility:hidden}
body{
   margin: 0px;
   overflow: hidden;
   -webkit-user-select: none;
   -moz-user-select: none;
   cursor: default;
}
textarea{outline: none}
/*==============================panel==============================*/
.dndPanel{
   position: absolute;
   overflow:hidden;
   border: 2px solid #444;
   left: 300px;
   top: 0px;
   border-radius: 10px 10px 0 0;
   -moz-box-shadow:0px 0px 10px #000;
   -webkit-box-shadow:0px 0px 10px #000;
   box-shadow:0px 0px 10px #000;
   z-index: 11;
}
.dndPanel.moved{
   border-style: dashed;
   -moz-box-shadow:0px 0px 0px #000;
   -webkit-box-shadow:0px 0px 0px #000;
   box-shadow:0px 0px 0px #000;
}
.dndPanel.moved #content{
   visibility: hidden;
}
.dndPanel.moved #title{
   background-color: transparent;
   color: #444;
   font-size: 18px;
   font-weight: bold;
   -webkit-user-select: none
}
.dndPanel #title{
   border-radius: 10px 10px 0 0;
   position: absolute;
   overflow:hidden;
   width: 100%;
   height: 20px;
   left: 0px;
   top: 0px;
   background-color: #444;
   color: white;
   text-align: center;
   cursor: move;
   font-family: sans-serif;
   font-size: 14px;
}
.dndPanel #content{
   margin-top: 20px;
   float:left;
   padding: 5px;
   max-height: 300px;
   max-width: 250px;
   overflow: auto;
   background-color: #fff;
}
/*==============================lines==============================*/
.line{
   clear:both;
   line-height:22px;
   display:block;
   text-align:left;
   font-size: 15px;
   font-family: sans-serif;
   font-weight: bold;
   width: 180px;
   margin-top: 3px;
}
.line:before{content: attr(text)}
.line input {float:right; width: 60px; height:16px; border: none;}
.line select {float:right; width: 100px; height:20px; border: none;}
.line input[type=checkbox] {position:absolute; width:0px;}

.line .led:before{content:attr(no)}
.line input[type=checkbox]:checked + .led:before{content:attr(yes)}
.line input[type=checkbox]:checked + .led{background-color:#02AE50}
.line .led{
   float:right; 
   width: 60px;
   border-radius: 5px;
   color: #222;
   border: 2px solid #777;
   font-size: 13px;
   font: inherit;
   background-color: #FD7542;
   line-height:18px;;
   cursor: pointer;
   text-align:center;
}
/*==============================button==============================*/
.smallButton{
   display: inline;
   width: 15px;
   height: 15px;
   line-height: 15px;
   border: 1px solid #ddd;
   border-radius: 5px;
   margin-left: 2px;
   float: right;
   text-align: center;
   color: #bbb;
   font-size: 14px;
   font-family: sans-serif;
   font-weight: bold;
   z-index: 2;
}
.smallButton:hover{
   border-color: #bbb;
}
/*==============================panels==============================*/
#viewmode{
   position: absolute;
   left: auto;
   right: 5px;
   top: 2px;
   padding-top: -5px;
   overflow; hidden;
   height: 12px;
}
#viewmode label{
   font-size: 11px;
   font-family: sans-serif;
   font-weight: bold;
   color: #ddd;
}
#viewmode input{
   width: 10px;
   height: 10px;
}
/*==============================workplace==============================*/
#wp.dndPanel #content{
   background-image: url(../imgs/fonlayer.png);
}
#workplace{
   width: 2000px;
   height: 2000px;
   overflow: hidden;
}
#workplace #speedcounter{
   position: absolute;
   left: 7px;
   color: white;
   top: 2px;
   z-index: 10;
   font-size: 14px;
   font-family: sans-serif;
   font-weight: bold;
}
#workplace #zoom{
   position: absolute;
   background-color: #444;
   color: #ddd;
   border: none;
   right: 220px;
   height: 14px;
   width: 40px;
   top: 1px;
   font-size: 14px;
   font-family: sans-serif;
   z-index: 11;
}
#workplace #output.grabbing{
   cursor: -webkit-grabbing;
   cursor: -moz-grabbing;
}
#workplace #output{
   position: relative;
   width: 100%;
   height: 100%;
   cursor: -webkit-grab;
   cursor: -moz-grab;
}
#workplace #output.help{
   margin-top: -5px;
   top: -100%;
   opacity: 1;
   z-index: 2;
}
#workplace #output.general{
   opacity: 1;
   z-index: 1;
}
/*==============================pin==============================*/
#workplace #pin{
   position: absolute;
   width: 10px;
   height: 10px;
   overflow: visible;
   z-index: 10;
   border-radius: 8px;
   border: 3px solid black;
   background-color: rgba(200,200,200,0.5);
   cursor: move;
}
#workplace #pin.tool_rotate{
   border-color: #E14F1E;
}
#workplace #pin.tool_size{
   border-color: #3FC048;
}
#workplace #pin.tool_move{
   border-color: #0060FF;
}
/*==============================funlist==============================*/
.funlist{
   margin-right: 0px;
}
.funlist .item{
   margin-top: 3px;
   display: block;
   width: 85px;
   height: 40px;
   border: 2px solid #ccc;
   border-radius: 10px;
   font-size: 14px;
   font-family: sans-serif;
   font-weight: bold;
   text-align: center;
}
.funlist .item #helper{
   position: absolute;
   left: 0;
   height: 22px;
   margin-top: -2px;
   width: 100%;
   background-color: transparent;
}
.funlist .item:hover{
   border-color: #999;
}
.funlist .item #name{
   height: 50%;
   padding-top: 2px;
   z-index: 1;
}
.funlist .item #tools{
   height: 50%;
   padding-right: 5px;
   z-index: 2;
}
.funlist .item #tools #button{
   width: 15px;
   height: 15px;
   border: 1px solid #ddd;
   border-radius: 5px;
   margin-left: 2px;
   float: right;
   text-align: center;
   color: #bbb;
   font-size: 14px;
   font-family: sans-serif;
   font-weight: bold;
   z-index: 2;
}
.funlist .item #tools #button:hover{
   border-color: #bbb;
}
.funlist .selecter{
   position: absolute;
   width: 0;
   height: 0;
}
.funlist .selecter:checked + .item{
   border-color: #2CD9FE;
}
#bonelist #showparent{
   position: absolute;
   left: -10px;
   border-bottom: 3px dotted #0ED3FE;
   border-left: 3px dotted #0ED3FE;
   border-bottom-left-radius: 16px;
}
/*==============================fix==============================*/
#statelist.funlist #helper{display: none !important}
/*==============================kftools==============================*/
#kftools{
   float: left;
   width: 1120px;
   height: 20px;
}
#kftools #ind{
   float: left;
   height: 20px;
   width: 130px;
   background-color: white;
   text-align: right;
   margin-right: 5px;
   font-size: 16px;
   font-family: sans-serif;
   color: #ccc;
}
#kftools #ind:before{content: 'Time: '}
#kftools #ind:after{content: 'ms'}
/*==============================kfpanel==============================*/
#kfpanel{
   margin-top: 2px;
   float: left;
   width: 1120px;
   height: 228px;
   overflow-y: auto;
   margin-left: 15px;
}
#kfpanel .row{
   position: relative;
   box-sizing: border-box;
   height: 22px;
   border-bottom: 2px dashed transparent;
   border-top: 2px dashed transparent;
   cursor: default;
   padding-bottom: 3px;
   cursor: crosshair;
}
#kfpanel .row.sel1{
   border-color:#0ED3FE !important;
}
#kfpanel .row .item{
   padding-bottom: 3px;
   display: block;
   width: 135px;
   height: 22px;
   cursor: pointer;
   font-size: 16px;
   font-family: sans-serif;
   font-weight: bold;
}
#kfpanel .row:hover{
   background-color: #ddd;
}
#kfpanel .row input{
   position: absolute;
   width: 0px;
}
#kfpanel .row #kfs .kfr:checked + .kf #me{
   background-color: #555;
}
#kfpanel .row #kfs .kf #me:hover{
   border-color: #999;
}
#kfpanel .row #kfs .kf:hover{
   z-index: 5;
}
#kfpanel .row #kfs .kf{
   position: absolute;
   top: 0px;
   width: 20px;
   height: 20px;
   opacity: 0.75;
}
#kfpanel .row #kfs .kf #me{
   position: absolute;
   display: block;
   top: 0px;
   width: 9px;
   height: 9px;
   background-color: #999;
   border: 5px solid #ccc;
   border-radius: 8px;
   cursor: e-resize;
   z-index: 3;
}
#kfpanel .row #kfs .kf #beginat{
   margin-left: 9px;
   width: 1px;
   background-color: #999;
}
#kfpanel .row #kfs .kf:hover #duration{
   border-color: #999 !important;
}
#kfpanel .row #kfs .kf #duration{
   position: absolute;
   top: 0px;
   left: 9px;
   height: 14px;
   border-top: 2px solid #ccc;
   border-bottom: 2px solid #ccc;
   border-right: 2px solid #ccc;
   border-top-right-radius: 8px;
   border-bottom-right-radius: 8px;
   z-index: 2;
}
#kfpanel .row #kfs .kf #me{-webkit-user-select: none}
#kfpanel .row #kfs .kf #duration{-webkit-user-select: none}
#kfpanel .row #kfs .kf{-webkit-user-select: none}
#kfpanel .row .item{-webkit-user-select: none}
#kfpanel .row{-webkit-user-select: none}
#kfpanel{-webkit-user-select: none}

#kfpanel .row #kfs .kf #me.empty{border-right-color: #EF0107}
#kfpanel .row #kfs .kf #me.param{border-right-color: #EFA201}
#kfpanel .row #kfs .kf #me.txtr{border-right-color: #DC01AB}
#kfpanel .row #kfs .kf #me.flag{border-right-color: #63E70C}
#vline{
   position: absolute;
   width: 1px;
   border-right: 2px dashed #ddd;
   height: 100%;
}
/*==============================spoiler==============================*/
.spoiler{
   overflow: hidden;
   width: 100%;
   height: auto !important;
   font-family: monospace;
   font-size: 12px;
   font-weight: 900;
   color: #444;
   text-align: center;
   cursor: pointer;
   height: 16px;
   overflow: hidden;
   -webkit-user-select: none
}
.spoiler:before{content: attr(closed)}
.spoiler[iopen='false']:before{content: attr(opened)}
.spoiler[iopen='false']{color: #aaa;height: 16px !important}

#chnggroup{
   position: relative;
   float: left;
   width: 20px;
   height: 210px;
   border-right: 2px dashed #ddd;
   border-bottom: 2px dashed #ddd;
}
#chnggroup .selecter{
   position: absolute;
   width: 0;
   height: 0;
}
#chnggroup .selecter:checked + .verticaltext{
   color: #111;
}
#chnggroup .verticaltext{
   position: relative;
   -webkit-transform: rotate(90deg);
   display:block;
   font-size: 16px;
   font-family: sans-serif;
   font-weight: bold;
   top: 10px;
   margin-bottom: 50px;
   color: #ddd;
   -webkit-user-select: none
}
.group{
   position: relative;
   left: 10px;
   float: left;
}
/*==============================baloon==============================*/
#info{
   z-index: 500;
   position: absolute;
   left: 100px;
   top: 50px;
   width: 58px;
   height: 50px;
   border: 2px solid #2CD9FE;
   border-radius: 10px;
   background-color: #FFFFFF;
   text-align: center;
   margin-top: 32px;
   margin-left: -20px;
   white-space: pre;
   line-height: 17px;
   font-size: 15px;
   font-family: sans-serif;
   font-weight: bold;
}
.triangle-border {
}
.triangle-border.top::before {
   top: -14px;
   bottom: auto;
   right: auto;
   left: 16px;
   border-width: 0 12px 12px;
}
.triangle-border.top::after {
   top: -11px;
   bottom: auto;
   right: auto;
   left: 16px;
   border-width: 0 12px 12px;
}
.triangle-border::after {
   content: "";
   position: absolute;
   border-style: solid;
   border-color: #FFFFFF transparent;
   display: block;
   width: 0;
}
.triangle-border::before {
   content: "";
   position: absolute;
   border-style: solid;
   border-color: #2CD9FE transparent;
   display: block;
   width: 0;
}
/*==============================listofif==============================*/
.lofif{
   width: 260px !important;
   height: auto !important;
}
.lofif .item{
   width: 100% !important;
   height: 33px !important;
}
.lofif .item input,.lofif .item select{
   margin: 0px;
   margin-top: 7px;
   border: none;
   font-size: 13px;
   font-family: sans-serif;
   font-weight: bold;
   width: 75px;
}


